.box {
  margin-top: 200px;
  width: 100px;
  height: 100px;
  background: greenyellow;
  -webkit-transform: rotateZ(70deg);
     -moz-transform: rotateZ(70deg);
      -ms-transform: rotate(70deg);
       -o-transform: rotateZ(70deg);
          transform: rotateZ(70deg); }
