.box {
  width: 100px;
  height: 100px;
  background: pink;
  -webkit-transform: rotateZ(70deg);
     -moz-transform: rotateZ(70deg);
      -ms-transform: rotate(70deg);
       -o-transform: rotateZ(70deg);
          transform: rotateZ(70deg); }
