@function px($px, $w:37.5) {
  @return ($px / $w) * 1rem
}

.test {
  width: 100px;
  height: 100px;
  color: orange;
  background: green;
  .aaa {
    color: pink;
    font-size: 30px;
    transform: rotate(660deg) translateX(70px);
  }
}
.t {
  width: 100px;
  height: 500px;
  margin-top: 500px;
  background: palegoldenrod;
}